.noteList {
  display: flex;
  width: 60%;
  margin: 0 auto;
  height: 400px;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.addActivity {
  display: flex;
  width: 95%;
  height: 100px;
  padding-left: 30px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  background-color: floralwhite;
  border-radius: 10px;
}


.addActivity .hoverEdit {
  visibility: hidden;
  background-color: black;
  font-size: 10px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  left: 20px;
  bottom: 10px;
}

.addActivity:hover .hoverEdit {
  visibility: visible;
}

.timeWrapper {
  position: absolute;
  top: 4px;
  display: flex;
  cursor: initial;
}

.time {
  color: darkgoldenrod;
  font-size: 10px;
  font-weight: bold;
  background-color: khaki;
  width: 80px;
  height: 15px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.updateFiled {
  padding: 20px 0;
  font-size: 30px;
  color: darkslategray;
  text-transform: capitalize;
  background-color: transparent;
  height: 10px;
  outline: none;
  box-shadow: none;
  border-style: none;
  cursor: pointer;
}

.deleteBtn .hoverText {
  visibility: hidden;
  background-color: black;
  font-size: 10px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  left: -20px;
  bottom: -25px;
}

.deleteBtn:hover .hoverText {
  visibility: visible;
}
.deleteBtn {
  width: 35px;
  height: 35px;
  border-radius: 17.5px;
  border-style: none;
  margin: 10px;
  color: burlywood;
  font-size: x-large;
  background-color: blanchedalmond;
  outline: none;
  cursor: pointer;
}
.deleteBtn:hover {
  background-color: crimson;
  color: rgb(255, 255, 255);
  transform: scale(1.1, 1.1);
}



@media only screen and (max-width: 780px) and (min-width: 400px)  {
  .noteList {
      width: 100%;
  }
  
}